<html>
<head>
    <base href="/">
    <title>Angular With Webpack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%- body %>
</body>
    <script src="/app/polyfills.js" type="application/javascript"></script>
    <script src="/app/app.js" type="application/javascript"></script>
</html>

